# SPDX-License-Identifier: AGPL-3.0-or-later
[Unit]
Description=Check the EVAC kiosk every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
